.common {
  margin: 0;
  word-wrap: anywhere;
}

.h1 {
  font-size: calc(var(--font-size-base) * 2);
  line-height: 1;
  font-weight: 500;
}

.h2 {
  font-size: calc(var(--font-size-base) * 1.4);
  line-height: 1.2;
  font-weight: 400;
}

.h3 {
  font-size: calc(var(--font-size-base) * 1.2);
  line-height: 1.2;
  font-weight: 100;
}

.text {
  font-size: calc(var(--font-size-base) * 1);
  line-height: 1.5;
  font-weight: 100;
}

.inline {
  font-size: calc(var(--font-size-base) * 1);
  line-height: 1.5;
  font-weight: 100;
}

.overflow {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
