.title {
  padding: 0 16px;
  border-radius: var(--border-radius-base);
}

.light {
  background-color: var(--color-overlay);
}

.dark {
  background-color: var(--color-dark-inactive);
  color: var(--color-light);
}
