.app_header {
  padding: 30px;
  background-color: var(--section-overlay);
}

.overlay {
  max-width: 1280px;
  margin: 0 auto;

  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 1fr 1fr;
  justify-items: end;
  align-items: center;
  gap: 16px;
}

.logo {
  grid-row: span 2;
}
.nav {
  justify-self: end;
}

@media screen and (max-width: 1360px) {
  .app_header {
    padding: 30px var(--section-indent);
  }
}

@media screen and (max-width: 1024px) {
  .app_header {
    padding: 20px var(--section-indent);
  }
}

@media screen and (max-width: 768px) {
  .overlay {
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      "logo theme"
      "logo nav";
  }
  .nav {
    grid-area: nav;
  }
}

@media screen and (max-width: 550px) {
  .app_header {
    padding: 12px;
  }

  /* todo - бургер-меню для этого разрешения */
}
