.app_header {
  padding: 2rem;
  background-color: var(--section-overlay);
}

.overlay {
  max-width: var(--content-width);
  margin: 0 auto;

  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  justify-items: end;
  align-items: center;
  gap: var(--16px);
}

.logo {
  grid-row: span 2;
  justify-self: self-start;
}
.logo:hover {
  color: inherit;
}
.nav {
  justify-self: end;
}

/* 1360px */
@media screen and (max-width: 85rem) {
  .app_header {
    padding: 2rem var(--section-indent);
  }
}

/* 1280px */
@media screen and (max-width: 80rem) {
  .app_header {
    padding: var(--20px) var(--section-indent);
  }
}

/* 1024px */
@media screen and (max-width: 64rem) {
  .overlay {
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      "logo theme"
      "logo nav";
  }
  .nav {
    grid-area: nav;
  }
}

/* 550px */
@media screen and (max-width: 34.375rem) {
  .app_header {
    padding: var(--12px);
  }

  /* todo - бургер-меню для этого разрешения */
}
