.list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 12px;
}

.del_btn {
  visibility: visible;
  opacity: 0;
}

.item:hover .del_btn {
  visibility: visible;
  opacity: 1;
}
