.form {
  display: grid;
  grid-template-columns: 1fr;
  gap: 16px;

  justify-content: space-between;
  align-items: center;
  border: 1px solid #464646;
  padding: 10px;
  border-radius: 5px;

  /* чтоб форма не растягивалась по высоте в грид-сетке */
  align-self: start;
  grid-column: span 4;
  background-color: lightgreen;
}

.form button {
  width: 60%;
  justify-self: center;
}