.grid_parent {
  position: relative;
  padding: 16px 0;
  border-radius: var(--border-radius-base);

  display: grid;
  grid-template-columns: var(--grid-parent-full);
  gap: 16px;

  background-color: var(--color-overlay);
}

/* сколько занимает колонок как дочерний элемент грид-сетки, в которой расположен */
.grid_child_full {
  grid-column: var(--grid-child-full);
}
