.grid_parent {
  position: relative;
  padding: var(--16px) 0;
  border-radius: var(--border-radius-base);

  display: grid;
  grid-template-columns: var(--grid-parent-full);
  gap: var(--16px);

  background-color: var(--section-overlay);
}

/* сколько занимает колонок как дочерний элемент грид-сетки, в которой расположен */
.grid_child_full {
  grid-column: var(--grid-child-full);
}
