.grid_parent {
  display: grid;
  grid-template-columns: var(--grid-parent-full);
  gap: 16px;
}

/* сколько занимает колонок как дочерний элемент грид-сетки, в которой расположен */
.grid_child_full {
  grid-column: var(--grid-child-full);
  background-color: yellowgreen;
}
