.wrapper {
  position: relative;
}

.btn {
}

.list {
  margin: 0;
  padding: 0;
  list-style-type: none;

  position: absolute;
  right: 0;
  display: flex;
  flex-direction: column;
  min-width: 15rem;
  z-index: 1;
}

.item {
  margin: 0;
  /* padding: 0.2rem 0.2rem; */

  color: var(--color-text-dark);
  background-color: var(--color-light);
  border: 2px solid var(--color-text-dark);
  border-radius: var(--border-radius-base);

  cursor: pointer;
}

.item:hover {
  border-color: var(--color-accent);
}
.item:hover * {
  color: var(--color-accent);
  fill: var(--color-accent);
}
.item:active {
  border-color: var(--color-text-dark);
}
.item:active * {
  color: var(--color-text-dark);
  fill: var(--color-text-dark);
}

/* 550px */
@media screen and (max-width: 34.375rem) {
  .list {
    min-width: 7.5rem;
  }
}
