.header {
  display: flex;
  width: 640px;
  min-height: 64px;

  justify-content: space-between;
  align-items: center;
  gap: calc(var(--offset-base-size)*9);
  border-radius: 40px;
}

.btn {
  margin: 0;
  padding: 0;
  border: 0;
  border-radius: 0;

  height: 24px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  background-color: transparent;
  cursor: pointer;
}

.btn svg {
  transition: var(--common-transition);
}

.btn:hover svg {
  fill: #8585AD;
}
