:root {
  color-scheme: light dark;

  font-family: "Euclid Circular A", Inter, system-ui, Avenir, Helvetica, Arial,
    sans-serif;
  /* font-family: Rubik, Inter, system-ui, Avenir, Helvetica, Arial, sans-serif; */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  font-size: 1rem;
}

* {
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: inherit;
}
a:hover {
  color: var(--color-accent);
}
a:active {
  color: var(--color-text-primary);
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;

  color: var(--color-text-primary);
  background: var(--body-color);
}

/* 768px */
@media screen and (max-width: 48rem) {
  :root {
    --section-indent: var(--indent-tablet);
  }
}

/* 550px */
@media screen and (max-width: 34.375rem) {
  :root {
    --section-indent: var(--indent-mobile);
  }
  html {
    font-size: 0.75rem;
  }
}
