.main {
  max-width: var(--content-width);
  margin: var(--section-indent) auto;

  /* является грид-родителем для дочерних элементов */
  display: grid;
  grid-template-columns: var(--grid-parent-full);
  gap: 16px;
}

@media screen and (max-width: 1360px) {
  .main {
    margin: var(--section-indent);
  }
}
