.card {
  position: relative;
  background-color: mistyrose;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;

  opacity: .8;
  visibility: hidden;
  /* transition-duration:.3s; */
  /* transform: scale(.8); */
  /* transition: .35 all ease-in; */

  pointer-events:none; /* убираем события мыши, пока слой не виден */
}

.emoji_button {
  width: 50%;
}

.card:hover .overlay {
  visibility: visible;
  transform: none;
  pointer-events:auto;
}

.emoji_button:hover {
  border-color: #646cff;;
}