.header {
  grid-column: span 12; /* занимает 12 колонок */
  background-color: lightblue;
}

.main {
  max-width: 1440px;
  margin: 0 auto;
}

.grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 16px;
}

.lists_section {
  grid-column: span 12;
  background-color: yellowgreen;
}

/* вариант без грида */
/* .cont_1_col {
  width: calc(100% - 40px);
}

.cont_2_col {
  width: calc(50% - 40px);
}

.cont_3_col {
  width: calc(33% - 40px);
} */

.tags {
  grid-column: span 4;
  justify-self: start;
}