.header {
  grid-column: var(--grid-child-full); /* занимает 12 колонок */
  background-color: lightblue;
}

.main {
  max-width: 1440px;
  margin: 0 auto;
}

/* является грид-родителем для дочерних элементов */
.grid {
  display: grid;
  grid-template-columns: var(--grid-parent-full);
  gap: 16px;
}

/* сколько занимает колонок как дочерний элемент грид-сетки, в которой расположен */
.lists_section {
  grid-column: var(--grid-child-full);
  background-color: yellowgreen;
}

/* вариант без грида */
/* .cont_1_col {
  width: calc(100% - 40px);
}

.cont_2_col {
  width: calc(50% - 40px);
}

.cont_3_col {
  width: calc(33% - 40px);
} */

.tags {
  grid-column: var(--grid-child-third);
  justify-self: start;
}
