.wrapper {
  padding: var(--16px);
  display: flex;
  gap: var(--16px);
  border-radius: var(--border-radius-base);
  background-color: var(--section-overlay);

  max-width: 100%;
}

.content {
  flex: 1 1 auto; /* растягивается на оставшееся место */
  min-width: 0; /* иначе содержимое вылезает за границы блока */
}

.aside {
  flex: 0 0 auto; /* занимает столько места, сколько необходимо контенту внутри */

  display: flex;
  flex-direction: column;
  gap: var(--8px);
  border-radius: var(--border-radius-base);
}
/* стили кнопок */
.aside button svg {
  fill: var(--color-accent);
}
.aside button:hover {
  background-color: var(--card-overlay);
}
.aside button:active svg {
  fill: var(--color-accent-hover);
}

/* 550px */
@media screen and (max-width: 34.375rem) {
  .wrapper {
    padding: var(--12px);
    flex-direction: column;
    border-radius: 0;
  }
  .aside {
    flex-direction: row;
    justify-content: center;
  }
}
