.wrapper {
  padding: var(--16px);
  display: flex;
  gap: var(--16px);
  border-radius: var(--border-radius-base);
  background-color: var(--section-overlay);
}

.aside {
  display: flex;
  flex-direction: column;
  gap: var(--8px);
  border-radius: var(--border-radius-base);
}
/* стили кнопок */
.aside button svg {
  fill: var(--color-accent);
}
.aside button:hover {
  background-color: var(--card-overlay);
}
.aside button:active svg {
  fill: var(--color-accent-hover);
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;

  /* список занимает всё пространство родительской сетки */
  grid-column: var(--grid-child-full);

  /* и состоит из стольки же колонок для размещения дочерних элементов  */
  display: grid;
  grid-template-columns: var(--grid-parent-full);
  gap: var(--16px);
}

.list_item {
  /* каждый элемент списка занимает четверть от общего числа колонок и прижат к верхней части*/
  /* grid-column: var(--grid-child-quarter); */
  /* todo - определиться, сколько будет занимать (сейчас - треть) */
  grid-column: var(--grid-child-third);
  align-self: start;
}

/* 1280px */
/* @media screen and (max-width: 80rem) {
  .list_item {
    grid-column: var(--grid-child-third);
  }
} */

/* 1024px */
@media screen and (max-width: 64rem) {
  .list_item {
    grid-column: var(--grid-child-half);
  }
}

/* 768px */
@media screen and (max-width: 48rem) {
  .list_item {
    grid-column: var(--grid-child-full);
  }
}

/* 550px */
@media screen and (max-width: 34.375rem) {
  .wrapper {
    padding: var(--12px) 0;
    background-color: transparent;
    flex-direction: column;
  }
  .aside {
    flex-direction: row;
    background-color: var(--section-overlay);
  }
}
