.wrapper {
  padding: 16px;
  display: flex;
  gap: 16px;
  border-radius: var(--border-radius-base);
  background-color: var(--color-overlay);
}

.aside {
  display: flex;
  flex-direction: column;
  gap: 8px;
  border-radius: var(--border-radius-base);
}
.aside button svg {
  fill: var(--color-accent);
}
/* todo - выбрать вариант */
.aside button:hover svg {
  /* fill: var(--color-accent-hover); */
}
.aside button:hover {
  background-color: var(--color-background);
  background-color: var(--color-text-primary);
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;

  /* список занимает всё пространство родительской сетки */
  grid-column: var(--grid-child-full);

  /* и состоит из стольки же колонок для размещения дочерних элементов  */
  display: grid;
  grid-template-columns: var(--grid-parent-full);
  gap: 16px;
}

.list_item {
  /* каждый элемент списка занимает четверть от общего числа колонок и прижат к верхней части*/
  /* grid-column: var(--grid-child-quarter); */
  /* todo - определиться, сколько будет занимать (сейчас - треть) */
  grid-column: var(--grid-child-third);
  align-self: start;
}

/* @media screen and (max-width: 1280px) {
  .list_item {
    grid-column: var(--grid-child-third);
  }
} */

@media screen and (max-width: 1024px) {
  .list_item {
    grid-column: var(--grid-child-half);
  }
}

@media screen and (max-width: 768px) {
  .list_item {
    grid-column: var(--grid-child-full);
  }
}

@media screen and (max-width: 550px) {
  .wrapper {
    padding: 12px 0;
    background-color: transparent;
    flex-direction: column;
  }
  .aside {
    flex-direction: row;
    background-color: var(--color-overlay);
  }
}
