.todo {
  width: 100%;
  text-align: left;

  /* todo - добавить, когда будет подробный просмотр списка */
  /* чтоб содержимое отображалось максимум на 3 строках, остальное - троеточие */
  /* display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis; */
}
