.list_container {
  position: relative;
  min-height: 240px;
  padding: 20px;
  border-radius: 20px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  grid-column: var(--grid-child-quarter);
  align-self: start;
  background-color: burlywood;
}

.list_container:hover .del_btn {
  visibility: visible;
  opacity: 1;
}

.list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.del_btn {
  position: absolute;
  top: 12px;
  right: 12px;
  background-color: transparent;

  /* visibility: visible;
  opacity: 0; */
}
