.wrapper {
  padding: var(--28px) var(--16px);

  display: grid;
  grid-template-columns: 1fr;
  gap: var(--16px);

  border: 1px solid var(--color-secondary);
  border-radius: var(--border-radius-base);
  background-color: var(--card-overlay);
}

.title {
  padding-bottom: var(--8px);
  border-bottom: 1px dotted var(--color-text-dark);

  font-style: italic;
  text-align: left;
}

.form {
  display: grid;
  grid-template-columns: 1fr;
  gap: var(--16px);

  border-radius: var(--border-radius-base);
}

.form button {
  width: 60%;
  justify-self: center;
}

/* 1440px */
@media screen and (max-width: 90rem) {
  .form button {
    width: 85%;
  }
}
