/* todo - переделать на гриды для большей вариативности отображения*/
.wrapper {
  display: flex;
  align-items: center;
  gap: 8px;
}

.logo {
  width: 100%;
  object-fit: cover;
}

.xs {
  width: 20px;
}
.s {
  width: 40px;
}
.m {
  width: 50px;
}
.l {
  width: 80px;
}
.xl {
  width: 100%;
}

.text {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: baseline;
  gap: 8px;

  font-size: 2.7rem !important;
}

.paw {
  fill: var(--color-accent);
  width: 1.4rem;
  height: 1.4rem;
}
