.header {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  background-color: bisque;
}

.content {
  max-width: 1440px;
  width: 100%;
  background-color: lightblue;

  display: flex;
  justify-content: flex-end;
}

.list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  gap: 34px;
}

.item {

}
