.button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--8px);
  border: 1px solid transparent;
  cursor: pointer;

  font-size: calc(var(--font-size-base) * 1);
  font-weight: 500;
  font-family: inherit;
}

.button svg {
  fill: var(--color-text-dark);
}

.xs {
  padding: 0.2rem 0.2rem;
}
.s {
  padding: 0.2rem 0.6rem;
}
.m {
  padding: 0.6rem 1.2rem;
}

.default {
  border-radius: var(--border-radius-base);
}
.rounded {
  border-radius: var(--border-radius-round);
}

.primary {
  color: var(--color-background);
  background-color: var(--color-accent);
}
.primary svg {
  fill: var(--color-background);
}
.primary:hover {
  background-color: var(--color-accent-hover);
  border-color: transparent;
}
.primary:active {
  background-color: var(--color-accent);
}

.secondary {
  color: var(--color-text-dark);
  background-color: var(--color-light);
  border: 2px solid var(--color-text-dark);
}
.secondary:hover {
  color: var(--color-light);
  background-color: var(--color-text-dark);
  border-color: var(--color-accent);
}
.secondary:hover svg {
  fill: var(--color-light);
}
.secondary:active {
  color: var(--color-text-dark);
  background-color: var(--color-light);
}
.secondary:active svg {
  fill: var(--color-text-dark);
}

.tertiary {
  color: var(--color-text-dark);
  background-color: transparent;
}
.tertiary:hover {
  color: var(--color-accent);
}
.tertiary:hover svg {
  fill: var(--color-accent);
}
.tertiary:active {
  color: var(--color-text-dark);
}

.inline {
  display: inline;
}

/* стили disabled в конце чтоб корректно перезаписывать */
.button:disabled {
  color: var(--color-secondary);
  background-color: transparent;
  cursor: auto;
}
.primary:disabled,
.secondary:disabled {
  border: 2px solid var(--color-secondary);
}
.button:disabled svg {
  fill: var(--color-secondary);
}
