.wrapper {
  position: relative;
  box-sizing: border-box;

  display: flex;
  align-items: center;
  justify-content: space-between;

  border: 2px solid var(--color-text-primary);
  border-radius: var(--border-radius-round);
  color: var(--color-text-primary);
  background-color: var(--card-overlay);
}
.horizontal {
  padding: 4px;
  width: 4rem;
  height: var(--28px);
}
.vertical {
  padding: 2px;
  width: var(--28px);
  height: 4rem;
  flex-direction: column;
}
.wrapper:hover {
  cursor: pointer;
  border: 2px solid var(--color-accent);
}

.theme_btn {
  z-index: 10;
  position: absolute;

  width: var(--22px);
  height: var(--22px);
}
.horizontal .theme_btn {
  top: 2;
  transition: left 0.3s ease-in-out;
}
.vertical .theme_btn {
  left: 1px;
  transition: top 0.3s ease-in-out;
}

/* светлая тема - кнопка справа / внизу */
.horizontal .btn_light {
  left: calc(100% - 1.5rem);
}
.vertical .btn_light {
  top: calc(100% - 1.5rem);
}

/* темная тема - кнопка слева / вверху */
.horizontal .btn_dark {
  left: 2px;
}
.vertical .btn_dark {
  top: 2px;
}

.icon {
  width: 1.25rem;
  height: 1.25rem;
}

.icon path,
circle {
  fill: currentColor;
  /* fill: none; если обе иконки нужны незаполненными */
  stroke: currentColor;
}

/* 550px */
@media screen and (max-width: 34.375rem) {
  .horizontal {
    height: 2rem;
  }
  .vertical {
    width: 2rem;
  }
}
