.text {
  text-align: center;
  line-height: 1.5;
  text-wrap: balance; /* для гармоничного переноса текста */
}

.title {
  color: var(--color-accent);
}

.buttons {
  display: flex;
  justify-content: center;
  gap: var(--8px);
}

.delete_btn:hover {
  color: var(--color-error);
}
.delete_btn:hover svg {
  fill: var(--color-error);
}
