.title {
  color: var(--color-accent);
}

.buttons {
  display: flex;
  justify-content: center;
  gap: 8px;
}

.delete_btn:hover {
  color: var(--color-error);
}
.delete_btn:hover svg {
  fill: var(--color-error);
}
