.nav {
}

.list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
}

.horizontal {
  gap: 34px;
}
.vertical {
  flex-direction: column;
  gap: 4px;
}

.item {
  display: flex;
  gap: 4px;
  align-items: center;
}
