.sidebar {
  margin: 0;
  padding: 4px;
  list-style-type: none;

  display: flex;
  gap: 8px;
  align-items: center;
  justify-content: space-between;

  border-radius: 28px;
  background-color: var(--card-overlay);
}
.horizontal {
  width: fit-content;
  height: 28px;
}
.vertical {
  width: 28px;
  height: fit-content;
  flex-direction: column;
}

/* центрируем */
.label {
  position: relative;
  width: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* сбрасываем стили по умолчанию*/
.radio {
  margin: 0;

  appearance: none;
  position: relative;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  border: 1px solid var(--color-text-primary);
}
.fake_radio {
  position: absolute;
  top: 0px;
  left: 0px;
  display: flex;
  width: 24px;
  height: 24px;
  padding: 3px;
  justify-content: center;
  align-items: center;
  border: 2px solid transparent;
  border-radius: 50%;
  user-select: none;
}
.label:hover .fake_radio:not(.fake_radio_checked) {
  border: 2px solid var(--color-secondary);
  cursor: pointer;
}
.fake_radio_checked {
  border: 2px solid var(--card-overlay);
  outline: 2px solid var(--color-accent);
}

.radio:disabled + .fake_radio {
  opacity: 0.5;
}
