.title {
  display: -webkit-box;
  -webkit-line-clamp: 3; /* на сколько строк максимум должно помещаться */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis; /* многоточие для не поместившегося содержимого */
}
