.page_wrapper {
  position: relative;
  grid-column: 3/11;

  display: flex;
  flex-direction: column;
  gap: 20px;
}

.btn_back {
  position: fixed;
  bottom: 20px;
  left: 20px;
}

@media screen and (max-width: 1024px) {
  .page_wrapper {
    grid-column: 2/12;
  }
}

@media screen and (max-width: 768px) {
  .page_wrapper {
    grid-column: var(--grid-child-full);
  }
}

@media screen and (max-width: 550px) {
  .btn_back {
    opacity: 0.8;
    bottom: 8px;
    left: 8px;

    padding: 4px;
    font-size: 12px;
  }

  .btn_back svg {
    width: 12px;
    height: 12px;
  }
}
