.main {
  max-width: var(--tablet-width);
  margin: auto;
  padding: 3.5rem var(--section-indent) 0;
  text-align: center;
}

.btn_back {
  position: fixed;
  bottom: var(--20px);
  left: var(--20px);
  font-size: calc(var(--font-size-base) * 1);
}

/* 550px */
@media screen and (max-width: 34.375rem) {
  .btn_back {
    opacity: 0.8;
    bottom: var(--8px);
    left: var(--8px);

    padding: var(--4px);
  }

  .btn_back svg {
    width: var(--12px);
    height: var(--12px);
  }
}
