.article {
  position: relative;
  min-height: 240px;

  border-radius: var(--border-radius-base);

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 20px;
}

.article:hover .menu {
  visibility: visible;
  opacity: 1;
}

.card {
  padding: 28px;
  border: 1px solid var(--color-text-dark);
  background-color: var(--color-light-transparent);
}

.modal {
}
.page {
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 8px;

  /* border-bottom: 1px solid var(--color-text-dark); */
  border-bottom: 1px dashed var(--color-text-dark);
}

.todo_btn {
  max-width: 100%;
  align-self: center;
}

.todo_btn_page input {
  width: 480px;
}

@media screen and (max-width: 550px) {
  .todo_btn_page input {
    width: 80vw;
  }
}

@media screen and (max-width: 420px) {
  .todo_btn_page input {
    width: 70vw;
  }
}
