.card {
  position: relative;
  min-height: 240px;
  padding: 20px;
  border-radius: 20px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  background-color: burlywood;
}

.card:hover .menu {
  visibility: visible;
  opacity: 1;
}

/* todo - убрать эти стили, когда зафиксирую на месте!! */
.menu {
  position: absolute;
  top: 12px;
  right: 12px;

  visibility: visible;
  opacity: 0;
}
