#root {
  /* max-width: 1280px; */
  margin: 0 auto;
  /* padding: 2rem; */
  text-align: center;
}

:root {
  /* для использования внутри css-переменных */
  --columns-max: 12;
  --columns-four: calc(var(--columns-max) / 3);
  --columns-three: calc(var(--columns-max) / 4);
  --columns-half: calc(var(--columns-max) / 2);

  --accent-default: #747bff;
  --accent-default-hover: #646cff;
  --accent-warm: #e65b31;
  --accent-warm-hover: #cf4318;
  /* todo - сюда нужно будет подставлять разные значения в зависимости от темы: */
  --color-accent: var(--accent-warm);
  /* более темная версия для hover на акцентные элементы: */
  --color-accent-hover: var(--accent-warm-hover);

  --error-default: #d91a32; /* #d91a34b0 - более бледная версия*/
  --error-warm: #b10a20;
  /* todo - сюда нужно будет подставлять разные значения в зависимости от темы: */
  --color-error: var(--error-warm);

  --grid-parent-full: repeat(var(--columns-max), 1fr);
  --grid-child-full: span var(--columns-max);
  --grid-child-half: span var(--columns-half);
  --grid-child-third: span var(--columns-four); /* third - треть так как 12/4 */
  --grid-child-quarter: span var(--columns-three); /* quarter - четверть так как 12/3 */

  --color-text-dark: #213547;
  --color-light: #f9f9f9;
  --color-light-transparent: #f9f9f9a1; /* для фона карточек, чтоб просвечивал фон */
  /* --color-light-secondary: #e2e4eb; */
  --color-dark-inactive: #2135477c; /* более прозрачная версия #213547 для disabled */
  --color-dark-hover: #080f16; /* более темная версия #213547 для hover на такие элементы */
  --color-visited: #9932cc;

  --font-size-base: 1em;
  --border-radius-base: 8px;
  --border-radius-modal: 20px;
  --border-radius-round: 26px;

  --indent-desktop: 40px;
  --indent-mobile: 20px;
  --section-indent: var(
    --indent-desktop
  ); /* большой отступ между/внутри секций */

  /* font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif; */
  font-family: "Euclid Circular A", Inter, system-ui, Avenir, Helvetica, Arial,
    sans-serif;

  color-scheme: light dark;
  color: var(--color-light);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: inherit;
}
a:hover {
  color: var(--color-accent);
}

body {
  margin: 0;
  /* display: flex; */
  min-width: 320px;
  min-height: 100vh;
  background: radial-gradient(500px at 23% 8%, #e09470c7, transparent),
    /*   более четкий круг за счет blue в переходе:   */
      radial-gradient(600px at 83vw 60vh, #f0b5ebbe, transparent),
    /*   основной цвет фона:   */ #fff8e3;
}

@media (prefers-color-scheme: light) {
  :root {
    color: var(--color-text-dark);
    background-color: var(--color-light);
  }
  a:hover {
    /* color: #747bff; */
  }
}

@media screen and (max-width: 550px) {
  :root {
    --section-indent: var(--indent-mobile);
  }
}
