#root {
  /* max-width: 1280px; */
  margin: 0 auto;
  /* padding: 2rem; */
  text-align: center;
}

:root {
  /* для использования внутри css-переменных */
  --columns-max: 12;
  --columns-four: 4;
  --columns-three: 3;

  --grid-parent-full: repeat(var(--columns-max), 1fr);
  --grid-child-full: span var(--columns-max);
  /* third - треть так как 12/4 */
  --grid-child-third: span var(--columns-four);
  /* quarter - четверть так как 12/3 */
  --grid-child-quarter: span var(--columns-three);

  --color-text-dark: #213547;
  /* --color-brown: #242424; */
  --color-light: #f9f9f9;
  --color-light-secondary: #e2e4eb;
  --color-dark-inactive: #2135477c; /* более прозрачная версия #213547 */
  --color-dark-active: #121d27; /* более темная версия #213547 */
  /* --color-accent: #535bf2; */
  --color-accent: #747bff;
  --color-accent-active: #646cff;
  --color-accent-inactive: #535bf291;
  --color-error: #d91a32;
  --color-error-inactive: #d91a34b0;
  /* --color-success: ; */

  --font-size-base: 1em;
  --border-radius-base: 8px;
  --border-radius-modal: 20px;
  --border-radius-round: 26px;

  /* font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif; */
  font-family: "Euclid Circular A", Inter, system-ui, Avenir, Helvetica, Arial,
    sans-serif;

  color-scheme: light dark;
  color: var(--color-light);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}

a {
  font-weight: 500;
  color: var(--color-accent-active);
  text-decoration: inherit;
}
a:hover {
  color: var(--color-accent);
}

body {
  margin: 0;
  /* display: flex; */
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

@media (prefers-color-scheme: light) {
  :root {
    color: var(--color-text-dark);
    background-color: var(--color-light);
  }
  a:hover {
    /* color: #747bff; */
  }
}
