.select {
  padding: 0.6em 1em;
  width: 100%;
  border-radius: var(--border-radius-base);
  border: 2px solid var(--color-secondary);

  font-size: calc(var(--font-size-base) * 1);
  font-weight: 500;
  font-family: inherit;
  color: var(--color-text-dark);
  background-color: var(--color-light);
  cursor: pointer;
}
.select:active,
.select:focus {
  outline: transparent;
  border: 2px solid var(--color-accent);
}

.select:disabled {
  cursor: auto;
}
