.container {
  padding: 12px;
}

.hint {
  font-size: .9em;
  font-style: italic;
  color: gray;
}

.tags_wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(60px, 1fr));
}

.tags_wrapper label {
  grid-column: span 1;
}