.list {
  margin: 0;
  padding: 0;
  list-style-type: none;

  display: flex;
  flex-direction: column;
  gap: 8px;
}

.item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 12px;
  padding: 0 4px;
}

.item:hover {
  border-left: 3px solid var(--color-text-primary);
  cursor: default;
}

.page:hover {
  background-color: var(--color-light);
}

.del_btn {
  visibility: visible;
  opacity: 0;
}

.item:hover .del_btn {
  visibility: visible;
  opacity: 1;
}
